<% unless current_user? @user %>
  <div class="row">
    <div class="col-md-12">
      <ul class="rating-form">
        <%= render "ratings/form" %>
      </ul>
    </div>
    <div class="col-md-12">
      <%= link_to(new_order_path(user_id: @user.id),
        {data: {toggle: "modal", target: "#myModalBooking"}}, remote: true) do %>
        <h4><button type="button" class="btn btn-primary"><%= t ".booking" %></button></h4>
      <% end %>
    </div>
  </div>
<% end %>

<div id="myModalBooking" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "orders/modal" %>
    </div>
  </div>
</div>
