<% provide :title, t(".title") %>
<div class="row">
  <%= render "users/slidebar_update" %>
  <div class="col-md-9">
    <h1><%= t ".title" %></h1>
    <div class="col-md-10 col-md-offset-1">
      <div class="row" id="player-form">
        <%= render "players/form_create" %>
      </div>
    </div>
  </div>
</div>
