$white: white;
$black: black;
$background_color: #78ccff;
$searchbar: #4E5461;
$red: red;
$search_icon: #e74c3c;
$border: #bbb;
$blue: blue;
$gray: gray;
$background_order: #78ccff;
$star: #fde16d;
$background-color-footer: rgba(44, 62, 80, 1.0);
$darkslategray: #354052;
$milk_white: #ebebeb;
$ib_background: #bbb9b9;
$ib_sent: #277ffa;
