<div class="inbox_chat">
  <% @users.each do |user| %>
    <%= link_to user_messengers_path(user.id), class: "user_chat", remote: true, method: :get do %>
      <div class="chat_list">
        <div class="chat_people">
          <div class="chat_img">
            <%= image_tag get_image(user.user_profile), class: "img-circle" %>
          </div>
          <div class="chat_ib">
            <h5><%= user.name %></h5>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
