<div class="message">
  <div class="sent_msg <%= "received-msg" if current_user.id == messenger.sender_id %>">
    <p><%= user_message messenger %></p>
    <span class="time-date">
      <%= messenger.created_at.strftime Settings.time_messenger %>
    </span>
  </div>
</div>
