<%= form_for :messenger, url: user_messengers_path(current_user.id), method: :post , remote: true do |f| %>
  <div class="field">
    <div class="control">
      <%= f.text_field :message, class: "form-control", placeholder: t(".placeholder") %>
      <%= hidden_field_tag :receiver, @user.id %>
    </div>
  </div>
  <%= f.button t(".button"), class: "msg_send_btn" do %>
    <i class="glyphicon glyphicon-send"></i>
  <% end %> 
<% end %>
